/* Header Part CSS */
.container{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

.d-flex{
    display: flex!important;
}

.flex-wrap {
    flex-wrap: wrap!important;
}

.justify-content-center {
    justify-content: right!important;
}

.logo {
    display: flex!important;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 2px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 20px;
}

.navHeader {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.15rem;
}

.nav-item{
    display: block;
    margin-right: 30px;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: black;
}


/* Body Part CSS */
.profile-title{
    display: inline-block;
    font-size: 3.5rem;
    margin: 0;
    margin-block: 0;
    margin-inline: 0;
}

.profile {
    font-size: 1.25rem;
}

#profile-title-img {
    display: inline-block;
}

#linkedin-link{
    cursor: pointer;
}

#github{
    cursor: pointer;
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
/* @media (min-width: 992px)
.container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
}
@media (min-width: 768px)
.container, .container-md, .container-sm {
    max-width: 720px;
}
@media (min-width: 576px)
.container, .container-sm {
    max-width: 540px;
} */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

@media (min-width: 992px){}
.flex-lg-row-reverse {
    flex-direction: row-reverse!important;
}
.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
}
.align-items-center {
    align-items: center!important;
}
.g-5, .gy-5 {
    --bs-gutter-y: 3rem;
}
.g-5, .gx-5 {
    --bs-gutter-x: 3rem;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding-left: 20%;
    padding-right: 15%;
}

@media (min-width: 992px){}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
    align-content: c;
}
@media (min-width: 576px){}
.col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}
.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

@media (min-width: 992px){}
.mx-lg-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.d-block {
    display: block!important;
}
.img-fluid {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

@media (min-width: 992px){}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}